<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    
    <target 
      name="logFile" 
      xsi:type="File" 
      layout="${longdate} ${message} ${exception:format=tostring}"
      filename="${basedir}/log/CoursesSignUp.API${shortdate}.log"
      archiveAboveSize="100000000"
    >
    </target>
    
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logFile" />
  </rules>
</nlog>